openapi: 3.1.0
info:
  title: Build-Factory API (v3)
  version: 3.0.0
  description: Build-Factory v3 API contract — 140 endpoints derived from `docs/functional-breakdown/2026-05-16_v3/features.json`. All paths follow the BF naming convention `/api/<resource>/...`. Authentication is Supabase Auth (GoTrue) Bearer JWT. Row-level access control is Supabase Postgres RLS — see x-bf-access-control-policies on each operation. This document is the **trust source** for `openapi-typescript` (frontend `frontend/src/api/types.ts`) and `datamodel-code-generator` (backend `backend/schemas.py`) regeneration, plus `Schemathesis` contract test.
  contact:
    name: ENGINE BASE — Build-Factory
    email: masato@engine-base.com

  x-bf-version: v3
  x-bf-generated-at: 2026-05-16
  x-bf-endpoint-count: 140

servers:
  - url: "https://api.build-factory.engine-base.com"
    description: Production
  - url: "https://api.staging.build-factory.engine-base.com"
    description: Staging
  - url: "http://localhost:8000"
    description: Local dev
tags:
  - name: ai
    description: ai endpoints
  - name: auth
    description: auth endpoints
  - name: design-system
    description: design-system endpoints
  - name: dialog
    description: dialog endpoints
  - name: email
    description: email endpoints
  - name: execution
    description: execution endpoints
  - name: export
    description: export endpoints
  - name: extras
    description: extras endpoints
  - name: infra
    description: infra endpoints
  - name: integration
    description: integration endpoints
  - name: management
    description: management endpoints
  - name: moat
    description: moat endpoints
  - name: onboarding
    description: onboarding endpoints
  - name: ops
    description: ops endpoints
  - name: quality
    description: quality endpoints
  - name: safety
    description: safety endpoints
  - name: spec
    description: spec endpoints
  - name: system
    description: system endpoints
  - name: ui
    description: ui endpoints
security:
  - bearerAuth: []
paths:
  /api/auth/login:
    post:
      operationId: post_auth_login
      summary: 認証 (email+pwd / MFA / OAuth) — POST /api/auth/login
      description: "Feature: F-001 (認証 (email+pwd / MFA / OAuth)). Auth role: public. Related entities: E-002 User, E-005 Session. Related screens: S-001, S-002, S-003, S-004, S-005."
      tags:
        - auth
      security: []
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string

                  refresh_token:
                    type: string

                  user_id:
                    type: string
                    format: uuid

                  mfa_required:
                    type: boolean






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "422":
          $ref: "#/components/responses/ValidationError"

        "429":
          $ref: "#/components/responses/RateLimited"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-001
      x-bf-screen-ids:
        - S-001
        - S-002
        - S-003
        - S-004
        - S-005
      x-bf-auth-role: public
      x-bf-related-entities:
        - E-002 User
        - E-005 Session
      x-bf-access-control-policies: []
      x-bf-implementation-path: "backend/routers/auth.py::post_auth_login"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: invalid credentials (generic, no user enumeration)
          ears_form: "UNWANTED: If invalid credentials (generic, no user enumeration), the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: account locked
          ears_form: "UNWANTED: If account locked, the system shall return 403."
        - status: 422
          code: VALIDATION_ERROR
          trigger: email format invalid or password too short
          ears_form: "UNWANTED: If email format invalid or password too short, the system shall return 422."
        - status: 429
          code: RATE_LIMITED
          trigger: rate limit exceeded (5 failed attempts in 15 min)
          ears_form: "EVENT-DRIVEN: When rate limit exceeded (5 failed attempts in 15 min), the system shall return 429 (rate limited)."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      x-bf-rate-limit: 5/min/ip
      x-bf-drift:
        severity: critical
        task_id: T-V3-DRIFT-F-001-01
        recommendation: Group B-1 (Vertical Slice / Backend) で対応
        impl_router_state: backend router not implemented

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string

                password:
                  type: string

                mfa_code:
                  type: string
                  nullable: true


              required:
                - email
                - password






  /api/auth/signup:
    post:
      operationId: post_auth_signup
      summary: 認証 (email+pwd / MFA / OAuth) — POST /api/auth/signup
      description: "Feature: F-001 (認証 (email+pwd / MFA / OAuth)). Auth role: public. Related entities: E-002 User, E-005 Session. Related screens: S-001, S-002, S-003, S-004, S-005."
      tags:
        - auth
      security: []
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                    format: uuid

                  verify_email_sent:
                    type: boolean






        "409":
          $ref: "#/components/responses/Conflict"

        "422":
          $ref: "#/components/responses/ValidationError"

        "429":
          $ref: "#/components/responses/RateLimited"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-001
      x-bf-screen-ids:
        - S-001
        - S-002
        - S-003
        - S-004
        - S-005
      x-bf-auth-role: public
      x-bf-related-entities:
        - E-002 User
        - E-005 Session
      x-bf-access-control-policies: []
      x-bf-implementation-path: "backend/routers/auth.py::post_auth_signup"
      x-bf-error-seeds:
        - status: 409
          code: CONFLICT
          trigger: email already exists
          ears_form: "UNWANTED: If email already exists, the system shall return 409."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 429
          code: RATE_LIMITED
          trigger: rate limit exceeded
          ears_form: "EVENT-DRIVEN: When rate limit exceeded, the system shall return 429 (rate limited)."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      x-bf-rate-limit: 3/hour/ip
      x-bf-drift:
        severity: critical
        task_id: T-V3-DRIFT-F-001-02
        recommendation: Group B-1 (Vertical Slice / Backend) で対応
        impl_router_state: backend router not implemented

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string

                password:
                  type: string

                name:
                  type: string

                invitation_token:
                  type: string
                  nullable: true


              required:
                - email
                - password
                - name






  /api/auth/password-reset:
    post:
      operationId: post_auth_password_reset
      summary: 認証 (email+pwd / MFA / OAuth) — POST /api/auth/password-reset
      description: "Feature: F-001 (認証 (email+pwd / MFA / OAuth)). Auth role: public. Related entities: E-002 User. Related screens: S-001, S-002, S-003, S-004, S-005."
      tags:
        - auth
      security: []
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: "v3 descriptor: email sent if account exists"






        "422":
          $ref: "#/components/responses/ValidationError"

        "429":
          $ref: "#/components/responses/RateLimited"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-001
      x-bf-screen-ids:
        - S-001
        - S-002
        - S-003
        - S-004
        - S-005
      x-bf-auth-role: public
      x-bf-related-entities:
        - E-002 User
      x-bf-access-control-policies: []
      x-bf-implementation-path: "backend/routers/auth.py::post_auth_password_reset"
      x-bf-error-seeds:
        - status: 422
          code: VALIDATION_ERROR
          trigger: invalid email format
          ears_form: "UNWANTED: If invalid email format, the system shall return 422."
        - status: 429
          code: RATE_LIMITED
          trigger: rate limit exceeded
          ears_form: "EVENT-DRIVEN: When rate limit exceeded, the system shall return 429 (rate limited)."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      x-bf-rate-limit: 3/hour/ip
      x-bf-drift:
        severity: critical
        task_id: T-V3-DRIFT-F-001-03
        recommendation: Group B-1 (Vertical Slice / Backend) で対応
        impl_router_state: backend router not implemented

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string


              required:
                - email






  /api/auth/mfa/enroll:
    post:
      operationId: post_auth_mfa_enroll
      summary: 認証 (email+pwd / MFA / OAuth) — POST /api/auth/mfa/enroll
      description: "Feature: F-001 (認証 (email+pwd / MFA / OAuth)). Auth role: authenticated. Related entities: E-002 User. Related screens: S-001, S-002, S-003, S-004, S-005."
      tags:
        - auth
      security:
        - bearerAuth: []
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  qr_code_url:
                    type: string

                  backup_codes:
                    type: array
                    items:
                      type: string







        "401":
          $ref: "#/components/responses/Unauthorized"

        "409":
          $ref: "#/components/responses/Conflict"

        "422":
          $ref: "#/components/responses/ValidationError"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-001
      x-bf-screen-ids:
        - S-001
        - S-002
        - S-003
        - S-004
        - S-005
      x-bf-auth-role: authenticated
      x-bf-related-entities:
        - E-002 User
      x-bf-access-control-policies:
        - "user:authenticated_select"
      x-bf-implementation-path: "backend/routers/auth.py::post_auth_mfa_enroll"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 409
          code: CONFLICT
          trigger: MFA already enabled
          ears_form: "UNWANTED: If MFA already enabled, the system shall return 409."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      x-bf-drift:
        severity: critical
        task_id: T-V3-DRIFT-F-001-04
        recommendation: Group B-1 (Vertical Slice / Backend) で対応
        impl_router_state: backend router not implemented

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                totp_secret:
                  type: string


              required:
                - totp_secret






  /api/auth/mfa/verify:
    post:
      operationId: post_auth_mfa_verify
      summary: 認証 (email+pwd / MFA / OAuth) — POST /api/auth/mfa/verify
      description: "Feature: F-001 (認証 (email+pwd / MFA / OAuth)). Auth role: public. Related entities: E-002 User, E-005 Session. Related screens: S-001, S-002, S-003, S-004, S-005."
      tags:
        - auth
      security: []
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string

                  refresh_token:
                    type: string






        "401":
          $ref: "#/components/responses/Unauthorized"

        "404":
          $ref: "#/components/responses/NotFound"

        "422":
          $ref: "#/components/responses/ValidationError"

        "429":
          $ref: "#/components/responses/RateLimited"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-001
      x-bf-screen-ids:
        - S-001
        - S-002
        - S-003
        - S-004
        - S-005
      x-bf-auth-role: public
      x-bf-related-entities:
        - E-002 User
        - E-005 Session
      x-bf-access-control-policies: []
      x-bf-implementation-path: "backend/routers/auth.py::post_auth_mfa_verify"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: invalid TOTP code
          ears_form: "UNWANTED: If invalid TOTP code, the system shall return 401."
        - status: 404
          code: NOT_FOUND
          trigger: user not found
          ears_form: "UNWANTED: If user not found, the system shall return 404."
        - status: 422
          code: VALIDATION_ERROR
          trigger: code format invalid
          ears_form: "UNWANTED: If code format invalid, the system shall return 422."
        - status: 429
          code: RATE_LIMITED
          trigger: rate limit exceeded
          ears_form: "EVENT-DRIVEN: When rate limit exceeded, the system shall return 429 (rate limited)."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      x-bf-rate-limit: 5/min/user
      x-bf-drift:
        severity: critical
        task_id: T-V3-DRIFT-F-001-05
        recommendation: Group B-1 (Vertical Slice / Backend) で対応
        impl_router_state: backend router not implemented

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  format: uuid

                totp_code:
                  type: string


              required:
                - user_id
                - totp_code






  /api/auth/oauth/{provider}/callback:
    get:
      operationId: get_auth_oauth_by_provider_callback
      summary: 認証 (email+pwd / MFA / OAuth) — GET /api/auth/oauth/{provider}/callback
      description: "Feature: F-001 (認証 (email+pwd / MFA / OAuth)). Auth role: public. Related entities: E-002 User, E-005 Session. Related screens: S-001, S-002, S-003, S-004, S-005."
      tags:
        - auth
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string

                  refresh_token:
                    type: string

                  user_id:
                    type: string
                    format: uuid






        "401":
          $ref: "#/components/responses/Unauthorized"

        "404":
          $ref: "#/components/responses/NotFound"

        "422":
          $ref: "#/components/responses/ValidationError"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-001
      x-bf-screen-ids:
        - S-001
        - S-002
        - S-003
        - S-004
        - S-005
      x-bf-auth-role: public
      x-bf-related-entities:
        - E-002 User
        - E-005 Session
      x-bf-access-control-policies: []
      x-bf-implementation-path: "backend/routers/auth.py::get_auth_oauth_by_provider_callback"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: OAuth state mismatch or code expired
          ears_form: "UNWANTED: If OAuth state mismatch or code expired, the system shall return 401."
        - status: 404
          code: NOT_FOUND
          trigger: provider not configured
          ears_form: "UNWANTED: If provider not configured, the system shall return 404."
        - status: 422
          code: VALIDATION_ERROR
          trigger: invalid provider
          ears_form: "UNWANTED: If invalid provider, the system shall return 422."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: OAuth handshake failed
          ears_form: "UNWANTED: If OAuth handshake failed, the system shall return 500."
      x-bf-drift:
        severity: critical
        task_id: T-V3-DRIFT-F-001-06
        recommendation: Group B-1 (Vertical Slice / Backend) で対応
        impl_router_state: backend router not implemented

      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum:
              - anthropic
              - github
              - slack
              - google
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string


  /api/skills:
    get:
      operationId: get_skills
      summary: 既存 96 スキル整理 / archive 管理 — GET /api/skills
      description: "Feature: F-002 (既存 96 スキル整理 / archive 管理). Auth role: authenticated. Related entities: E-021 Skill. Related screens: S-038."
      tags:
        - management
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Skill"


                  total:
                    type: integer






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "422":
          $ref: "#/components/responses/ValidationError"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-002
      x-bf-screen-ids:
        - S-038
      x-bf-auth-role: authenticated
      x-bf-related-entities:
        - E-021 Skill
      x-bf-access-control-policies:
        - "skill:authenticated_select"
      x-bf-implementation-path: "backend/routers/skills.py::get_skills"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized (missing or invalid token)
          ears_form: "UNWANTED: If unauthorized (missing or invalid token), the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden (insufficient role / RLS violation)
          ears_form: "UNWANTED: If forbidden (insufficient role / RLS violation), the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: resource not found
          ears_form: "UNWANTED: If resource not found, the system shall return 404."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      parameters:
        - name: category
          in: query
          required: false
          schema:
            type: string
        - name: archived
          in: query
          required: false
          schema:
            type: boolean

    post:
      operationId: post_skills
      summary: 既存 96 スキル整理 / archive 管理 — POST /api/skills
      description: "Feature: F-002 (既存 96 スキル整理 / archive 管理). Auth role: account_owner. Related entities: E-021 Skill. Related screens: S-038."
      tags:
        - management
      security:
        - bearerAuth: []
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid

                  name:
                    type: string






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "409":
          $ref: "#/components/responses/Conflict"

        "422":
          $ref: "#/components/responses/ValidationError"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-002
      x-bf-screen-ids:
        - S-038
      x-bf-auth-role: account_owner
      x-bf-related-entities:
        - E-021 Skill
      x-bf-access-control-policies:
        - "skill:account_owner_all"
      x-bf-implementation-path: "backend/routers/skills.py::post_skills"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden (not account owner)
          ears_form: "UNWANTED: If forbidden (not account owner), the system shall return 403."
        - status: 409
          code: CONFLICT
          trigger: skill name conflict
          ears_form: "UNWANTED: If skill name conflict, the system shall return 409."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string

                category:
                  type: string

                description:
                  type: string

                skill_md:
                  type: string


              required:
                - name
                - category
                - description
                - skill_md






  /api/skills/{id}/test:
    post:
      operationId: post_skills_by_id_test
      summary: 既存 96 スキル整理 / archive 管理 — POST /api/skills/{id}/test
      description: "Feature: F-002 (既存 96 スキル整理 / archive 管理). Auth role: account_owner. Related entities: E-021 Skill. Related screens: S-038."
      tags:
        - management
      security:
        - bearerAuth: []
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  output:
                    type: string

                  duration_ms:
                    type: integer






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "422":
          $ref: "#/components/responses/ValidationError"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-002
      x-bf-screen-ids:
        - S-038
      x-bf-auth-role: account_owner
      x-bf-related-entities:
        - E-021 Skill
      x-bf-access-control-policies:
        - "skill:account_owner_all"
      x-bf-implementation-path: "backend/routers/skills.py::post_skills_by_id_test"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden
          ears_form: "UNWANTED: If forbidden, the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: skill not found
          ears_form: "UNWANTED: If skill not found, the system shall return 404."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: skill execution failed
          ears_form: "UNWANTED: If skill execution failed, the system shall return 500."
      x-bf-rate-limit: 10/min/user
      x-bf-drift:
        severity: critical
        task_id: T-V3-DRIFT-F-002-01
        recommendation: Group B-1 (Vertical Slice / Backend) で対応
        impl_router_state: backend router not implemented

      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                test_input:
                  type: string


              required:
                - test_input






  /api/skills/{id}/archive:
    post:
      operationId: post_skills_by_id_archive
      summary: 既存 96 スキル整理 / archive 管理 — POST /api/skills/{id}/archive
      description: "Feature: F-002 (既存 96 スキル整理 / archive 管理). Auth role: account_owner. Related entities: E-021 Skill. Related screens: S-038."
      tags:
        - management
      security:
        - bearerAuth: []
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  archived_at:
                    type: string
                    format: date-time






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "409":
          $ref: "#/components/responses/Conflict"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-002
      x-bf-screen-ids:
        - S-038
      x-bf-auth-role: account_owner
      x-bf-related-entities:
        - E-021 Skill
      x-bf-access-control-policies:
        - "skill:account_owner_all"
      x-bf-implementation-path: "backend/routers/skills.py::post_skills_by_id_archive"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden
          ears_form: "UNWANTED: If forbidden, the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: skill not found
          ears_form: "UNWANTED: If skill not found, the system shall return 404."
        - status: 409
          code: CONFLICT
          trigger: skill already archived
          ears_form: "UNWANTED: If skill already archived, the system shall return 409."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid


  /api/ai-employees/org-chart:
    get:
      operationId: get_ai_employees_org_chart
      summary: AI 社員ハイブリッド統合 (BMAD + Agent Teams + 既存) — GET /api/ai-employees/org-chart
      description: "Feature: F-003 (AI 社員ハイブリッド統合 (BMAD + Agent Teams + 既存)). Auth role: authenticated. Related entities: E-008 AIEmployee, E-021 Skill. Related screens: S-036, S-037, S-038."
      tags:
        - ai
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  tree:
                    type: array
                    items:
                      $ref: "#/components/schemas/AIEmployeeNode"


                  total:
                    type: integer






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-003
      x-bf-screen-ids:
        - S-036
        - S-037
        - S-038
      x-bf-auth-role: authenticated
      x-bf-related-entities:
        - E-008 AIEmployee
        - E-021 Skill
      x-bf-access-control-policies:
        - "a_i_employee:authenticated_select"
        - "skill:authenticated_select"
      x-bf-implementation-path: "backend/routers/ai_employees.py::get_ai_employees_org_chart"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden (wrong workspace)
          ears_form: "UNWANTED: If forbidden (wrong workspace), the system shall return 403."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      x-bf-drift:
        severity: critical
        task_id: T-V3-DRIFT-F-003-01
        recommendation: Group B-1 (Vertical Slice / Backend) で対応
        impl_router_state: backend router not implemented

      parameters:
        - name: workspace_id
          in: query
          required: false
          schema:
            type: string
            format: uuid


  /api/ai-employees:
    post:
      operationId: post_ai_employees
      summary: AI 社員ハイブリッド統合 (BMAD + Agent Teams + 既存) — POST /api/ai-employees
      description: "Feature: F-003 (AI 社員ハイブリッド統合 (BMAD + Agent Teams + 既存)). Auth role: workspace_admin. Related entities: E-008 AIEmployee. Related screens: S-036, S-037, S-038."
      tags:
        - ai
      security:
        - bearerAuth: []
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid

                  name:
                    type: string






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "409":
          $ref: "#/components/responses/Conflict"

        "422":
          $ref: "#/components/responses/ValidationError"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-003
      x-bf-screen-ids:
        - S-036
        - S-037
        - S-038
      x-bf-auth-role: workspace_admin
      x-bf-related-entities:
        - E-008 AIEmployee
      x-bf-access-control-policies:
        - "a_i_employee:workspace_admin_rw"
      x-bf-implementation-path: "backend/routers/ai_employees.py::post_ai_employees"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden
          ears_form: "UNWANTED: If forbidden, the system shall return 403."
        - status: 409
          code: CONFLICT
          trigger: name conflict in workspace
          ears_form: "UNWANTED: If name conflict in workspace, the system shall return 409."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string

                persona:
                  type: string

                hierarchy_level:
                  type: integer

                parent_id:
                  type: string
                  format: uuid
                  nullable: true

                department:
                  type: string


              required:
                - name
                - persona
                - hierarchy_level
                - department






  /api/ai-employees/{id}:
    get:
      operationId: get_ai_employees_by_id
      summary: AI 社員ハイブリッド統合 (BMAD + Agent Teams + 既存) — GET /api/ai-employees/{id}
      description: "Feature: F-003 (AI 社員ハイブリッド統合 (BMAD + Agent Teams + 既存)). Auth role: authenticated. Related entities: E-008 AIEmployee. Related screens: S-036, S-037, S-038."
      tags:
        - ai
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  employee:
                    $ref: "#/components/schemas/AIEmployee"

                  skills:
                    type: array
                    items:
                      $ref: "#/components/schemas/Skill"







        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-003
      x-bf-screen-ids:
        - S-036
        - S-037
        - S-038
      x-bf-auth-role: authenticated
      x-bf-related-entities:
        - E-008 AIEmployee
      x-bf-access-control-policies:
        - "a_i_employee:authenticated_select"
      x-bf-implementation-path: "backend/routers/ai_employees.py::get_ai_employees_by_id"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden
          ears_form: "UNWANTED: If forbidden, the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: not found
          ears_form: "UNWANTED: If not found, the system shall return 404."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid

    put:
      operationId: put_ai_employees_by_id
      summary: AI 社員ハイブリッド統合 (BMAD + Agent Teams + 既存) — PUT /api/ai-employees/{id}
      description: "Feature: F-003 (AI 社員ハイブリッド統合 (BMAD + Agent Teams + 既存)). Auth role: workspace_admin. Related entities: E-008 AIEmployee. Related screens: S-036, S-037, S-038."
      tags:
        - ai
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid

                  updated_at:
                    type: string
                    format: date-time






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "422":
          $ref: "#/components/responses/ValidationError"

        "409":
          $ref: "#/components/responses/Conflict"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-003
      x-bf-screen-ids:
        - S-036
        - S-037
        - S-038
      x-bf-auth-role: workspace_admin
      x-bf-related-entities:
        - E-008 AIEmployee
      x-bf-access-control-policies:
        - "a_i_employee:workspace_admin_rw"
      x-bf-implementation-path: "backend/routers/ai_employees.py::put_ai_employees_by_id"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden
          ears_form: "UNWANTED: If forbidden, the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: not found
          ears_form: "UNWANTED: If not found, the system shall return 404."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 409
          code: CONFLICT
          trigger: circular hierarchy
          ears_form: "UNWANTED: If circular hierarchy, the system shall return 409."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      x-bf-drift:
        severity: high
        task_id: T-V3-DRIFT-F-003-02
        recommendation: Group D (Drift fix) で対応
        impl_router_state: path exists with methods ['DELETE', 'GET', 'PATCH'], mock expects PUT

      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true

                skill_ids:
                  type: array
                  items:
                    type: string
                    format: uuid

                  nullable: true

                constitution_version:
                  type: integer
                  nullable: true








  /api/ai-employees/{id}/test:
    post:
      operationId: post_ai_employees_by_id_test
      summary: AI 社員ハイブリッド統合 (BMAD + Agent Teams + 既存) — POST /api/ai-employees/{id}/test
      description: "Feature: F-003 (AI 社員ハイブリッド統合 (BMAD + Agent Teams + 既存)). Auth role: workspace_admin. Related entities: E-008 AIEmployee. Related screens: S-036, S-037, S-038."
      tags:
        - ai
      security:
        - bearerAuth: []
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  output:
                    type: string

                  tokens_used:
                    type: integer

                  cost_usd:
                    type: number






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "422":
          $ref: "#/components/responses/ValidationError"

        "429":
          $ref: "#/components/responses/RateLimited"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-003
      x-bf-screen-ids:
        - S-036
        - S-037
        - S-038
      x-bf-auth-role: workspace_admin
      x-bf-related-entities:
        - E-008 AIEmployee
      x-bf-access-control-policies:
        - "a_i_employee:workspace_admin_rw"
      x-bf-implementation-path: "backend/routers/ai_employees.py::post_ai_employees_by_id_test"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden
          ears_form: "UNWANTED: If forbidden, the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: not found
          ears_form: "UNWANTED: If not found, the system shall return 404."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 429
          code: RATE_LIMITED
          trigger: rate limit exceeded
          ears_form: "EVENT-DRIVEN: When rate limit exceeded, the system shall return 429 (rate limited)."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: test execution failed
          ears_form: "UNWANTED: If test execution failed, the system shall return 500."
      x-bf-rate-limit: 20/min/workspace
      x-bf-drift:
        severity: critical
        task_id: T-V3-DRIFT-F-003-03
        recommendation: Group B-1 (Vertical Slice / Backend) で対応
        impl_router_state: backend router not implemented

      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input_prompt:
                  type: string


              required:
                - input_prompt






  /api/ai-employees/{id}/clone-from-user:
    post:
      operationId: post_ai_employees_by_id_clone_from_user
      summary: AI 社員ハイブリッド統合 (BMAD + Agent Teams + 既存) — POST /api/ai-employees/{id}/clone-from-user
      description: "Feature: F-003 (AI 社員ハイブリッド統合 (BMAD + Agent Teams + 既存)). Auth role: workspace_admin. Related entities: E-008 AIEmployee, E-018 UserKnowledgeNamespace. Related screens: S-036, S-037, S-038."
      tags:
        - ai
      security:
        - bearerAuth: []
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  clone_id:
                    type: string
                    format: uuid

                  namespace:
                    type: string






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "422":
          $ref: "#/components/responses/ValidationError"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-003
      x-bf-screen-ids:
        - S-036
        - S-037
        - S-038
      x-bf-auth-role: workspace_admin
      x-bf-related-entities:
        - E-008 AIEmployee
        - E-018 UserKnowledgeNamespace
      x-bf-access-control-policies:
        - "a_i_employee:workspace_admin_rw"
        - "user_knowledge_namespace:workspace_admin_rw"
      x-bf-implementation-path: "backend/routers/ai_employees.py::post_ai_employees_by_id_clone_from_user"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden (opt_in not granted)
          ears_form: "UNWANTED: If forbidden (opt_in not granted), the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: user not found
          ears_form: "UNWANTED: If user not found, the system shall return 404."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      x-bf-drift:
        severity: critical
        task_id: T-V3-DRIFT-F-003-04
        recommendation: Group B-1 (Vertical Slice / Backend) で対応
        impl_router_state: backend router not implemented

      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  format: uuid

                opt_in_acknowledged:
                  type: boolean


              required:
                - user_id
                - opt_in_acknowledged






  /api/accounts/{id}:
    get:
      operationId: get_accounts_by_id
      summary: account / workspace / members 階層管理 — GET /api/accounts/{id}
      description: "Feature: F-004 (account / workspace / members 階層管理). Auth role: authenticated. Related entities: E-001 Account. Related screens: S-007, S-008, S-013, S-014, S-015."
      tags:
        - infra
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: "#/components/schemas/Account"

                  owner_id:
                    type: string
                    format: uuid

                  plan:
                    type: string






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "422":
          $ref: "#/components/responses/ValidationError"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-004
      x-bf-screen-ids:
        - S-007
        - S-008
        - S-013
        - S-014
        - S-015
      x-bf-auth-role: authenticated
      x-bf-related-entities:
        - E-001 Account
      x-bf-access-control-policies:
        - "account:authenticated_select"
      x-bf-implementation-path: "backend/routers/accounts.py::get_accounts_by_id"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized (missing or invalid token)
          ears_form: "UNWANTED: If unauthorized (missing or invalid token), the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden (insufficient role / RLS violation)
          ears_form: "UNWANTED: If forbidden (insufficient role / RLS violation), the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: resource not found
          ears_form: "UNWANTED: If resource not found, the system shall return 404."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid

    put:
      operationId: put_accounts_by_id
      summary: account / workspace / members 階層管理 — PUT /api/accounts/{id}
      description: "Feature: F-004 (account / workspace / members 階層管理). Auth role: account_owner. Related entities: E-001 Account. Related screens: S-007, S-008, S-013, S-014, S-015."
      tags:
        - infra
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid

                  updated_at:
                    type: string
                    format: date-time






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "422":
          $ref: "#/components/responses/ValidationError"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-004
      x-bf-screen-ids:
        - S-007
        - S-008
        - S-013
        - S-014
        - S-015
      x-bf-auth-role: account_owner
      x-bf-related-entities:
        - E-001 Account
      x-bf-access-control-policies:
        - "account:account_owner_all"
      x-bf-implementation-path: "backend/routers/accounts.py::put_accounts_by_id"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden (not owner)
          ears_form: "UNWANTED: If forbidden (not owner), the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: not found
          ears_form: "UNWANTED: If not found, the system shall return 404."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      x-bf-drift:
        severity: high
        task_id: T-V3-DRIFT-F-004-01
        recommendation: Group D (Drift fix) で対応
        impl_router_state: path exists with methods ['DELETE', 'GET', 'PATCH'], mock expects PUT

      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true

                plan:
                  type: string
                  nullable: true







    delete:
      operationId: delete_accounts_by_id
      summary: account / workspace / members 階層管理 — DELETE /api/accounts/{id}
      description: "Feature: F-004 (account / workspace / members 階層管理). Auth role: account_owner. Related entities: E-001 Account. Related screens: S-007, S-008, S-013, S-014, S-015."
      tags:
        - infra
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted_at:
                    type: string
                    format: date-time

                  grace_period_until:
                    type: string
                    format: date-time






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "409":
          $ref: "#/components/responses/Conflict"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-004
      x-bf-screen-ids:
        - S-007
        - S-008
        - S-013
        - S-014
        - S-015
      x-bf-auth-role: account_owner
      x-bf-related-entities:
        - E-001 Account
      x-bf-access-control-policies:
        - "account:account_owner_all"
      x-bf-implementation-path: "backend/routers/accounts.py::delete_accounts_by_id"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden
          ears_form: "UNWANTED: If forbidden, the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: not found
          ears_form: "UNWANTED: If not found, the system shall return 404."
        - status: 409
          code: CONFLICT
          trigger: active subscriptions exist
          ears_form: "UNWANTED: If active subscriptions exist, the system shall return 409."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid


  /api/accounts/{id}/transfer-owner:
    post:
      operationId: post_accounts_by_id_transfer_owner
      summary: account / workspace / members 階層管理 — POST /api/accounts/{id}/transfer-owner
      description: "Feature: F-004 (account / workspace / members 階層管理). Auth role: account_owner. Related entities: E-001 Account, E-002 User. Related screens: S-007, S-008, S-013, S-014, S-015."
      tags:
        - infra
      security:
        - bearerAuth: []
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  old_owner_id:
                    type: string
                    format: uuid

                  new_owner_id:
                    type: string
                    format: uuid

                  transferred_at:
                    type: string
                    format: date-time






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "409":
          $ref: "#/components/responses/Conflict"

        "422":
          $ref: "#/components/responses/ValidationError"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-004
      x-bf-screen-ids:
        - S-007
        - S-008
        - S-013
        - S-014
        - S-015
      x-bf-auth-role: account_owner
      x-bf-related-entities:
        - E-001 Account
        - E-002 User
      x-bf-access-control-policies:
        - "account:account_owner_all"
        - "user:account_owner_all"
      x-bf-implementation-path: "backend/routers/accounts.py::post_accounts_by_id_transfer_owner"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden
          ears_form: "UNWANTED: If forbidden, the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: user not found
          ears_form: "UNWANTED: If user not found, the system shall return 404."
        - status: 409
          code: CONFLICT
          trigger: new owner not member
          ears_form: "UNWANTED: If new owner not member, the system shall return 409."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      x-bf-drift:
        severity: critical
        task_id: T-V3-DRIFT-F-004-02
        recommendation: Group B-1 (Vertical Slice / Backend) で対応
        impl_router_state: backend router not implemented

      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                new_owner_user_id:
                  type: string
                  format: uuid


              required:
                - new_owner_user_id






  /api/accounts/{id}/members:
    get:
      operationId: get_accounts_by_id_members
      summary: account / workspace / members 階層管理 — GET /api/accounts/{id}/members
      description: "Feature: F-004 (account / workspace / members 階層管理). Auth role: authenticated. Related entities: E-001 Account, E-002 User. Related screens: S-007, S-008, S-013, S-014, S-015."
      tags:
        - infra
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: "#/components/schemas/AccountMember"


                  total:
                    type: integer






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "422":
          $ref: "#/components/responses/ValidationError"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-004
      x-bf-screen-ids:
        - S-007
        - S-008
        - S-013
        - S-014
        - S-015
      x-bf-auth-role: authenticated
      x-bf-related-entities:
        - E-001 Account
        - E-002 User
      x-bf-access-control-policies:
        - "account:authenticated_select"
        - "user:authenticated_select"
      x-bf-implementation-path: "backend/routers/accounts.py::get_accounts_by_id_members"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized (missing or invalid token)
          ears_form: "UNWANTED: If unauthorized (missing or invalid token), the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden (insufficient role / RLS violation)
          ears_form: "UNWANTED: If forbidden (insufficient role / RLS violation), the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: resource not found
          ears_form: "UNWANTED: If resource not found, the system shall return 404."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid


  /api/accounts/{id}/invitations:
    post:
      operationId: post_accounts_by_id_invitations
      summary: account / workspace / members 階層管理 — POST /api/accounts/{id}/invitations
      description: "Feature: F-004 (account / workspace / members 階層管理). Auth role: account_owner. Related entities: E-001 Account. Related screens: S-007, S-008, S-013, S-014, S-015."
      tags:
        - infra
      security:
        - bearerAuth: []
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  invitation_token:
                    type: string

                  expires_at:
                    type: string
                    format: date-time






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "409":
          $ref: "#/components/responses/Conflict"

        "422":
          $ref: "#/components/responses/ValidationError"

        "429":
          $ref: "#/components/responses/RateLimited"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-004
      x-bf-screen-ids:
        - S-007
        - S-008
        - S-013
        - S-014
        - S-015
      x-bf-auth-role: account_owner
      x-bf-related-entities:
        - E-001 Account
      x-bf-access-control-policies:
        - "account:account_owner_all"
      x-bf-implementation-path: "backend/routers/accounts.py::post_accounts_by_id_invitations"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden
          ears_form: "UNWANTED: If forbidden, the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: account not found
          ears_form: "UNWANTED: If account not found, the system shall return 404."
        - status: 409
          code: CONFLICT
          trigger: user already member
          ears_form: "UNWANTED: If user already member, the system shall return 409."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 429
          code: RATE_LIMITED
          trigger: too many invitations
          ears_form: "EVENT-DRIVEN: When too many invitations, the system shall return 429 (rate limited)."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      x-bf-rate-limit: 20/hour/account
      x-bf-drift:
        severity: critical
        task_id: T-V3-DRIFT-F-004-03
        recommendation: Group B-1 (Vertical Slice / Backend) で対応
        impl_router_state: backend router not implemented

      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string

                role:
                  type: string
                  enum:
                    - owner
                    - admin
                    - member
                    - viewer
                    - guest


              required:
                - email
                - role






  /api/accounts/{id}/members/{user_id}:
    delete:
      operationId: delete_accounts_by_id_members_by_user_id
      summary: account / workspace / members 階層管理 — DELETE /api/accounts/{id}/members/{user_id}
      description: "Feature: F-004 (account / workspace / members 階層管理). Auth role: account_owner. Related entities: E-001 Account, E-002 User. Related screens: S-007, S-008, S-013, S-014, S-015."
      tags:
        - infra
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  removed_at:
                    type: string
                    format: date-time






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "409":
          $ref: "#/components/responses/Conflict"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-004
      x-bf-screen-ids:
        - S-007
        - S-008
        - S-013
        - S-014
        - S-015
      x-bf-auth-role: account_owner
      x-bf-related-entities:
        - E-001 Account
        - E-002 User
      x-bf-access-control-policies:
        - "account:account_owner_all"
        - "user:account_owner_all"
      x-bf-implementation-path: "backend/routers/accounts.py::delete_accounts_by_id_members_by_user_id"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden
          ears_form: "UNWANTED: If forbidden, the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: member not found
          ears_form: "UNWANTED: If member not found, the system shall return 404."
        - status: 409
          code: CONFLICT
          trigger: cannot remove owner
          ears_form: "UNWANTED: If cannot remove owner, the system shall return 409."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      x-bf-drift:
        severity: critical
        task_id: T-V3-DRIFT-F-004-04
        recommendation: Group B-1 (Vertical Slice / Backend) で対応
        impl_router_state: backend router not implemented

      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid


  /api/workspaces/{id}:
    get:
      operationId: get_workspaces_by_id
      summary: account / workspace / members 階層管理 — GET /api/workspaces/{id}
      description: "Feature: F-004 (account / workspace / members 階層管理). Auth role: authenticated. Related entities: E-003 Workspace. Related screens: S-007, S-008, S-013, S-014, S-015."
      tags:
        - infra
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspace:
                    $ref: "#/components/schemas/Workspace"






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "422":
          $ref: "#/components/responses/ValidationError"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-004
      x-bf-screen-ids:
        - S-007
        - S-008
        - S-013
        - S-014
        - S-015
      x-bf-auth-role: authenticated
      x-bf-related-entities:
        - E-003 Workspace
      x-bf-access-control-policies:
        - "workspace:authenticated_select"
      x-bf-implementation-path: "backend/routers/workspaces.py::get_workspaces_by_id"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized (missing or invalid token)
          ears_form: "UNWANTED: If unauthorized (missing or invalid token), the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden (insufficient role / RLS violation)
          ears_form: "UNWANTED: If forbidden (insufficient role / RLS violation), the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: resource not found
          ears_form: "UNWANTED: If resource not found, the system shall return 404."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid

    put:
      operationId: put_workspaces_by_id
      summary: account / workspace / members 階層管理 — PUT /api/workspaces/{id}
      description: "Feature: F-004 (account / workspace / members 階層管理). Auth role: workspace_admin. Related entities: E-003 Workspace. Related screens: S-007, S-008, S-013, S-014, S-015."
      tags:
        - infra
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid

                  updated_at:
                    type: string
                    format: date-time






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "422":
          $ref: "#/components/responses/ValidationError"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-004
      x-bf-screen-ids:
        - S-007
        - S-008
        - S-013
        - S-014
        - S-015
      x-bf-auth-role: workspace_admin
      x-bf-related-entities:
        - E-003 Workspace
      x-bf-access-control-policies:
        - "workspace:workspace_admin_rw"
      x-bf-implementation-path: "backend/routers/workspaces.py::put_workspaces_by_id"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden
          ears_form: "UNWANTED: If forbidden, the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: not found
          ears_form: "UNWANTED: If not found, the system shall return 404."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      x-bf-drift:
        severity: high
        task_id: T-V3-DRIFT-F-004-05
        recommendation: Group D (Drift fix) で対応
        impl_router_state: path exists with methods ['DELETE', 'GET', 'PATCH'], mock expects PUT

      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true

                status:
                  type: string
                  nullable: true







    delete:
      operationId: delete_workspaces_by_id
      summary: account / workspace / members 階層管理 — DELETE /api/workspaces/{id}
      description: "Feature: F-004 (account / workspace / members 階層管理). Auth role: workspace_admin. Related entities: E-003 Workspace. Related screens: S-007, S-008, S-013, S-014, S-015."
      tags:
        - infra
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  soft_deleted_at:
                    type: string
                    format: date-time






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "409":
          $ref: "#/components/responses/Conflict"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-004
      x-bf-screen-ids:
        - S-007
        - S-008
        - S-013
        - S-014
        - S-015
      x-bf-auth-role: workspace_admin
      x-bf-related-entities:
        - E-003 Workspace
      x-bf-access-control-policies:
        - "workspace:workspace_admin_rw"
      x-bf-implementation-path: "backend/routers/workspaces.py::delete_workspaces_by_id"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden
          ears_form: "UNWANTED: If forbidden, the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: not found
          ears_form: "UNWANTED: If not found, the system shall return 404."
        - status: 409
          code: CONFLICT
          trigger: active sessions exist
          ears_form: "UNWANTED: If active sessions exist, the system shall return 409."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid


  /api/workspaces/{id}/members:
    get:
      operationId: get_workspaces_by_id_members
      summary: account / workspace / members 階層管理 — GET /api/workspaces/{id}/members
      description: "Feature: F-004 (account / workspace / members 階層管理). Auth role: authenticated. Related entities: E-003 Workspace, E-004 WorkspaceMember. Related screens: S-007, S-008, S-013, S-014, S-015."
      tags:
        - infra
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: "#/components/schemas/WorkspaceMember"







        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "422":
          $ref: "#/components/responses/ValidationError"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-004
      x-bf-screen-ids:
        - S-007
        - S-008
        - S-013
        - S-014
        - S-015
      x-bf-auth-role: authenticated
      x-bf-related-entities:
        - E-003 Workspace
        - E-004 WorkspaceMember
      x-bf-access-control-policies:
        - "workspace:authenticated_select"
        - "workspace_member:authenticated_select"
      x-bf-implementation-path: "backend/routers/workspaces.py::get_workspaces_by_id_members"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized (missing or invalid token)
          ears_form: "UNWANTED: If unauthorized (missing or invalid token), the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden (insufficient role / RLS violation)
          ears_form: "UNWANTED: If forbidden (insufficient role / RLS violation), the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: resource not found
          ears_form: "UNWANTED: If resource not found, the system shall return 404."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid


  /api/workspaces/{id}/members/{user_id}/role:
    put:
      operationId: put_workspaces_by_id_members_by_user_id_role
      summary: account / workspace / members 階層管理 — PUT /api/workspaces/{id}/members/{user_id}/role
      description: "Feature: F-004 (account / workspace / members 階層管理). Auth role: workspace_admin. Related entities: E-004 WorkspaceMember. Related screens: S-007, S-008, S-013, S-014, S-015."
      tags:
        - infra
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  role:
                    type: string

                  updated_at:
                    type: string
                    format: date-time






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "409":
          $ref: "#/components/responses/Conflict"

        "422":
          $ref: "#/components/responses/ValidationError"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-004
      x-bf-screen-ids:
        - S-007
        - S-008
        - S-013
        - S-014
        - S-015
      x-bf-auth-role: workspace_admin
      x-bf-related-entities:
        - E-004 WorkspaceMember
      x-bf-access-control-policies:
        - "workspace_member:workspace_admin_rw"
      x-bf-implementation-path: "backend/routers/workspaces.py::put_workspaces_by_id_members_by_user_id_role"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden
          ears_form: "UNWANTED: If forbidden, the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: member not found
          ears_form: "UNWANTED: If member not found, the system shall return 404."
        - status: 409
          code: CONFLICT
          trigger: would strip last admin
          ears_form: "UNWANTED: If would strip last admin, the system shall return 409."
        - status: 422
          code: VALIDATION_ERROR
          trigger: invalid role
          ears_form: "UNWANTED: If invalid role, the system shall return 422."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      x-bf-drift:
        severity: critical
        task_id: T-V3-DRIFT-F-004-06
        recommendation: Group B-1 (Vertical Slice / Backend) で対応
        impl_router_state: backend router not implemented

      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum:
                    - owner
                    - admin
                    - member
                    - viewer
                    - guest


              required:
                - role






  /api/workspaces/{id}/members/{user_id}:
    delete:
      operationId: delete_workspaces_by_id_members_by_user_id
      summary: account / workspace / members 階層管理 — DELETE /api/workspaces/{id}/members/{user_id}
      description: "Feature: F-004 (account / workspace / members 階層管理). Auth role: workspace_admin. Related entities: E-004 WorkspaceMember. Related screens: S-007, S-008, S-013, S-014, S-015."
      tags:
        - infra
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  removed_at:
                    type: string
                    format: date-time






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "409":
          $ref: "#/components/responses/Conflict"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-004
      x-bf-screen-ids:
        - S-007
        - S-008
        - S-013
        - S-014
        - S-015
      x-bf-auth-role: workspace_admin
      x-bf-related-entities:
        - E-004 WorkspaceMember
      x-bf-access-control-policies:
        - "workspace_member:workspace_admin_rw"
      x-bf-implementation-path: "backend/routers/workspaces.py::delete_workspaces_by_id_members_by_user_id"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden
          ears_form: "UNWANTED: If forbidden, the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: member not found
          ears_form: "UNWANTED: If member not found, the system shall return 404."
        - status: 409
          code: CONFLICT
          trigger: would strip last admin
          ears_form: "UNWANTED: If would strip last admin, the system shall return 409."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid


  /api/workspaces/{id}/invitations:
    post:
      operationId: post_workspaces_by_id_invitations
      summary: account / workspace / members 階層管理 — POST /api/workspaces/{id}/invitations
      description: "Feature: F-004 (account / workspace / members 階層管理). Auth role: workspace_admin. Related entities: E-003 Workspace. Related screens: S-007, S-008, S-013, S-014, S-015."
      tags:
        - infra
      security:
        - bearerAuth: []
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  invitation_token:
                    type: string

                  expires_at:
                    type: string
                    format: date-time






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "409":
          $ref: "#/components/responses/Conflict"

        "422":
          $ref: "#/components/responses/ValidationError"

        "429":
          $ref: "#/components/responses/RateLimited"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-004
      x-bf-screen-ids:
        - S-007
        - S-008
        - S-013
        - S-014
        - S-015
      x-bf-auth-role: workspace_admin
      x-bf-related-entities:
        - E-003 Workspace
      x-bf-access-control-policies:
        - "workspace:workspace_admin_rw"
      x-bf-implementation-path: "backend/routers/workspaces.py::post_workspaces_by_id_invitations"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden
          ears_form: "UNWANTED: If forbidden, the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: workspace not found
          ears_form: "UNWANTED: If workspace not found, the system shall return 404."
        - status: 409
          code: CONFLICT
          trigger: user already member
          ears_form: "UNWANTED: If user already member, the system shall return 409."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 429
          code: RATE_LIMITED
          trigger: too many invitations
          ears_form: "EVENT-DRIVEN: When too many invitations, the system shall return 429 (rate limited)."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      x-bf-rate-limit: 20/hour/workspace
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string

                role:
                  type: string


              required:
                - email
                - role





    get:
      operationId: get_workspaces_by_id_invitations
      summary: account / workspace / members 階層管理 — GET /api/workspaces/{id}/invitations
      description: "Feature: F-004 (account / workspace / members 階層管理). Auth role: workspace_admin. Related entities: E-003 Workspace. Related screens: S-007, S-008, S-013, S-014, S-015."
      tags:
        - infra
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  invitations:
                    type: array
                    items:
                      $ref: "#/components/schemas/Invitation"







        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "422":
          $ref: "#/components/responses/ValidationError"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-004
      x-bf-screen-ids:
        - S-007
        - S-008
        - S-013
        - S-014
        - S-015
      x-bf-auth-role: workspace_admin
      x-bf-related-entities:
        - E-003 Workspace
      x-bf-access-control-policies:
        - "workspace:workspace_admin_rw"
      x-bf-implementation-path: "backend/routers/workspaces.py::get_workspaces_by_id_invitations"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized (missing or invalid token)
          ears_form: "UNWANTED: If unauthorized (missing or invalid token), the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden (insufficient role / RLS violation)
          ears_form: "UNWANTED: If forbidden (insufficient role / RLS violation), the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: resource not found
          ears_form: "UNWANTED: If resource not found, the system shall return 404."
        - status: 422
          code: VALIDATION_ERROR
          trigger: validation error
          ears_form: "UNWANTED: If validation error, the system shall return 422."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      x-bf-drift:
        severity: high
        task_id: T-V3-DRIFT-F-004-07
        recommendation: Group D (Drift fix) で対応
        impl_router_state: path exists with methods ['POST'], mock expects GET

      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid


  /api/workspaces/{id}/invitations/{token}:
    delete:
      operationId: delete_workspaces_by_id_invitations_by_token
      summary: account / workspace / members 階層管理 — DELETE /api/workspaces/{id}/invitations/{token}
      description: "Feature: F-004 (account / workspace / members 階層管理). Auth role: workspace_admin. Related entities: E-003 Workspace. Related screens: S-007, S-008, S-013, S-014, S-015."
      tags:
        - infra
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  revoked_at:
                    type: string
                    format: date-time






        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-004
      x-bf-screen-ids:
        - S-007
        - S-008
        - S-013
        - S-014
        - S-015
      x-bf-auth-role: workspace_admin
      x-bf-related-entities:
        - E-003 Workspace
      x-bf-access-control-policies:
        - "workspace:workspace_admin_rw"
      x-bf-implementation-path: "backend/routers/workspaces.py::delete_workspaces_by_id_invitations_by_token"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden
          ears_form: "UNWANTED: If forbidden, the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: invitation not found
          ears_form: "UNWANTED: If invitation not found, the system shall return 404."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      x-bf-drift:
        severity: critical
        task_id: T-V3-DRIFT-F-004-08
        recommendation: Group B-1 (Vertical Slice / Backend) で対応
        impl_router_state: backend router not implemented

      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: token
          in: path
          required: true
          schema:
            type: string


  /api/invitations/{token}:
    get:
      operationId: get_invitations_by_token
      summary: account / workspace / members 階層管理 — GET /api/invitations/{token}
      description: "Feature: F-004 (account / workspace / members 階層管理). Auth role: public. Related entities: E-003 Workspace. Related screens: S-007, S-008, S-013, S-014, S-015."
      tags:
        - infra
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  invitation:
                    $ref: "#/components/schemas/Invitation"

                  workspace_name:
                    type: string

                  inviter_name:
                    type: string






        "404":
          $ref: "#/components/responses/NotFound"

        "409":
          $ref: "#/components/responses/Conflict"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-004
      x-bf-screen-ids:
        - S-007
        - S-008
        - S-013
        - S-014
        - S-015
      x-bf-auth-role: public
      x-bf-related-entities:
        - E-003 Workspace
      x-bf-access-control-policies: []
      x-bf-implementation-path: "backend/routers/invitations.py::get_invitations_by_token"
      x-bf-error-seeds:
        - status: 404
          code: NOT_FOUND
          trigger: invitation not found
          ears_form: "UNWANTED: If invitation not found, the system shall return 404."
        - status: 409
          code: CONFLICT
          trigger: invitation expired
          ears_form: "UNWANTED: If invitation expired, the system shall return 409."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: internal server error
          ears_form: "UNWANTED: If internal server error, the system shall return 500."
      x-bf-drift:
        severity: critical
        task_id: T-V3-DRIFT-F-004-09
        recommendation: Group B-1 (Vertical Slice / Backend) で対応
        impl_router_state: backend router not implemented

      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string


  /ws/hearing/{session_id}:
    get:
      operationId: ws_ws_hearing_by_session_id
      summary: ヒアリング → 仕様書 HTML パイプライン — WS /ws/hearing/{session_id}
      description: "Feature: F-005 (ヒアリング → 仕様書 HTML パイプライン). Auth role: authenticated. Related entities: E-027 ChatThread, E-028 ChatMessage. Related screens: S-020, S-022."
      tags:
        - spec
      security:
        - bearerAuth: []
      responses:
        "101":
          description: Switching Protocols (WebSocket upgrade)

        "401":
          $ref: "#/components/responses/Unauthorized"

        "403":
          $ref: "#/components/responses/Forbidden"

        "404":
          $ref: "#/components/responses/NotFound"

        "500":
          $ref: "#/components/responses/InternalServerError"


      x-bf-feature-id: F-005
      x-bf-screen-ids:
        - S-020
        - S-022
      x-bf-auth-role: authenticated
      x-bf-related-entities:
        - E-027 ChatThread
        - E-028 ChatMessage
      x-bf-access-control-policies:
        - "chat_thread:authenticated_select"
        - "chat_message:authenticated_select"
      x-bf-implementation-path: "backend/routers/ws.py::ws_ws_hearing_by_session_id"
      x-bf-error-seeds:
        - status: 401
          code: UNAUTHORIZED
          trigger: unauthorized
          ears_form: "UNWANTED: If unauthorized, the system shall return 401."
        - status: 403
          code: FORBIDDEN
          trigger: forbidden
          ears_form: "UNWANTED: If forbidden, the system shall return 403."
        - status: 404
          code: NOT_FOUND
          trigger: session not found
          ears_form: "UNWANTED: If session not found, the system shall return 404."
        - status: 500
          code: INTERNAL_SERVER_ERROR
          trigger: WS upgrade failed
          ears_form: "UNWANTED: If WS upgrade failed, the system shall return 500."
      x-bf-protocol: websocket
      x-bf-drift:
        severity: low
        task_id: T-V3-DRIFT-F-005-01
        recommendation: Group B-1 (Vertical Slice / Backend) で対応
        impl_router_state: WebSocket endpoint — backend WS routes not enumerated

      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
            format: uuid


  /api/workspaces/{id}/hearing/save:
    post:
      operationId: post_workspaces_by_id_hearing_save
[...]
